# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Learning java projetcs\recipe-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
